<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceEvents</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg" style="background-color: #f8ffbc;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">SpaceEvents</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Opciones alineadas a la izquierda -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/usuarios/login">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuarios/registro">Registrarse</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="{% url 'eventos' %}">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                </ul>
                <!-- Opciones alineadas a la derecha -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="{% url 'perfil_usuario' %}">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="/usuarios/logout">Cerrar sesion</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
      </nav>

    {% block content %}
    {% endblock %}
</body>
</html>