{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-md-4">
            <!-- CARD DATOS DEL PERFIL -->
             <div class="card border rounded-2 shadow p-3 mb-3">
                <div class="card-body">
                    <h1>{{Usuario.username}}</h1>
                    <h2>{{Usuario.first_name}}  {{Usuario.last_name}}</h2>
                    <p><strong>Cedula de identidad: </strong>{{Usuario.identificacion_cliente}}</p>
                    <p><strong>Nacionalidad: </strong>{{Usuario.nacionalidad}}</p>
                    <p><strong>Correo electronico: </strong>{{Usuario.email}}</p>
                    <p><strong>Telefono: </strong>{{Usuario.telefono}}</p>
                    <hr>
                    <button type="button" class="btn btn-outline-secondary w-100 mb-1" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                        Editar Perfil
                    </button>
                </div>
             </div>
        </div>
        <div class="col-md-8">
            <!-- CARD Variable -->
            <div class="card border rounded-2 shadow p-3 mb-3">
                <div class="card-body">
                    <h3>Tus Eventos Alquilados</h3>
                    <ul>
                        {% for alquiler in Usuario.alquiler_set.all %}
                        <li>
                            <h5>{{ alquiler.evento.titulo_evento }}</h5>
                            <p>{{ alquiler.evento.descripcion }}</p>
                            <p>{{ alquiler.costo_alquiler }} <strong>USD</strong></p>
                            <form method="POST" action="{% url 'cancelar_alquiler' alquiler.idalquiler %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Cancelar Alquiler</button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editProfileModalLabel">Editar Perfil</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'actualizar_perfil' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">

                            <div class="md-3">
                                <label for="first_name">Nombre de Usuario</label>
                                <input type="text" class="form-control" name="username" value="{{ Usuario.username }}">
                            </div>

                        <div class="d-flex">
                            <div class="md-3 mr-2">
                                <label for="first_name">Nombre</label>
                                <input type="text" class="form-control" name="first_name" value="{{ Usuario.first_name }}">
                            </div>
                        

                            <div class="md-3">
                                <label for="first_name">Apellido</label>
                                <input type="text" class="form-control" name="last_name" value="{{ Usuario.last_name }}">
                            </div>
                        </div>

                        <div class="md-3">
                            <label for="nacionalidad">Nacionalidad</label>
                            <input type="text" class="form-control" name="nacionalidad" value="{{ Usuario.nacionalidad }}">
                        </div>

                        <div class="d-flex">
                            <div class="md-3 mr-2">
                                <label for="telefono">Telefono</label>
                                <input type="text" class="form-control" name="telefono" value="{{ Usuario.telefono }}">
                            </div>
                        

                            <div class="md-3">
                                <label for="email">Correo Electronico</label>
                                <input type="text" class="form-control" name="email" value="{{ Usuario.email }}" disabled>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
            </div>
        </div>

    </div>


{% endblock %}